:root {
  font-family: var(--font-sans);
  font-size: var(--font-size-14);
  font-weight: var(--font-medium);
  color: var(--text-color-default);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea,
optgroup,
option {
  color: inherit;
  font: inherit;
  background: none;
  border: 0 none;
}

[hidden] {
  display: none !important;
}

